.wrapper {
  max-width: 46rem;
  width: 100%;

  margin: 0 auto;
  margin-top: -1.6875rem;
}

.container {
  margin-top: 4rem;
}

.taskList {
  margin-top: 1.5rem;
}

.taskList li + li {
  margin-top: 0.75rem;
}
